extends listpages
block content
  //-.container-fluid
    nav
      ul.nav-tabs.list-inline
        .tab-pane
          li.nav-item
            a.tab-content(data-toggle="tab" href="#users-tab" ) Users
          li
            a.tab-content(href="#admin-tab" data-toggle="tab") Admnistrators
          li
            a.tab-content(href="#poems-tab" data-toggle="tab") Poems
          li
            a.tab-content(href="#emails-tab" data-toggle="tab") Emails
          li
            a.tab-content(href="#messages-tab" data-toggle="tab") Messsages
  section
    .container-fluid
      .row
        .box-clearfix
          table#bootstrap-table.table.table-hoover
              thead.justify-content-between
                tr
                  th Name
                  th Surname
                  th Email
                  th Home Address
                  th Username
                  th Role
                  th Action
              tbody
                each user in userslist
                  tr
                    td= user.user_fname
                    td= user.user_lname
                    td= user.user_email
                    td= user.user_address
                    td= user.u_sername
                    td
                      span
                        form(action="/superuser/admin/role/save" method="post" enctype="multipart/form-data")
                          .row
                            .form-group
                              .input-group
                                .input-group-preppend
                                  span.fa.fa-gear 
                                input(type="hidden" name="userId" value=`${user._id}`)
                                select.form-control(name="role")
                                  option( value="manager", selected=(user.role === "manager" ? true : false), disabled=(user.role === "manager" ? true : false) ) manager
                                  option(value="editor", selected=(user.role === "editor" ? true : false), disabled=(user.role === "editor" ? true : false)  ) editor
                                  option(value= "writer", selected=(user.role === "writer" ? true : false), disabled=(user.role === "writer" ? true : false)  ) writer
                                  option(value="user", selected=(user.role === "user" ? true : false), disabled=(user.role === "user" ? true : false)  ) user
                                .input-group-append
                                  span.input-group-item
                                  |
                                  button.btn.btn-sm.btn-info(type="submmit" ) Update
                    td
                      span
                        form(action="/superuser/admin/delete" method="post" enctype="multipart/form-data") 
                          input(type="hidden" name="userId" value=`${user._id}`)
                          if sessionrole == 'writer'
                            button.btn.btn-sm.btn-danger(type="submmit" disabled) Delete
                          else
                            button.btn.btn-m.btn-danger(type="submit") Delete
      //-    #messages-tab
            table.d-md-table.table-bordered
              thead
                tr
                  th.p-3 Name
                  th.p-3 Email
                  th.p-3 Contents
                  th.p-3 Action
              tbody
                each item in contactslist
                  tr
                    td.p-3= item.contact_name
                    td.p-3= item.contact_email
                    td.p-3= item.contact_message
                    td.p-3
                      span
                        form(action="/superuser/admin/delete/#" method="post" enctype="multipart/form-data") 
                          input(type="hidden" name="userId" value=`${item._id}`)
                          button.btn.btn-sm.btn-danger(type="submmit") Delete
          #poems-tab
            table.d-md-table.table-bordered
              thead
                tr
                  th.p-3 Title
                  th.p-3 Author
                  th.p-3 No# Com
                  th.p-3 Action
              tbody
                each item in poemslist
                  tr
                    td.p-3= item.poem_title
                    td.p-3= item.poet_name
                    if (item.poem_comment)
                      td.p-3= num_comments
                    td.p-3
                      span
                        form(action="/superuser/admin/delete/#" method="post" enctype="multipart/form-data") 
                          input(type="hidden" name="userId" value=`${item._id}`)
                          button.btn.btn-sm.btn-danger(type="submmit") Delete
          #emails-tab
            table.d-md-table.table-bordered
              thead
                tr
                  th.p-3 Description
                  th.p-3 Action
              tbody
                each sub in subslist
                  tr
                    td.p-3= sub.subscriber_email
                    td.p-3
                      span
                        form(action="/superuser/admin/delete/#" method="post" enctype="multipart/form-data") 
                          input(type="hidden" name="userId" value=`${sub._id}`)
                          button.btn.btn-sm.btn-danger(type="submmit") Delete
          #admin-tab
            table.d-md-table.table-bordered
              thead
                tr
                  th.p-3 Username
                  th.p-3 Role
                  th.p-3 Action
              tbody
                each admin in adminlist
                  tr
                    td.p-3= admin.username
                    td.p-3= admin.role
                    td.p-3 No action required
  script.
    (function(){
        $('.nav-tabs-a>li>a').hover(function(){
          $(this).tab('show');
        });
        $('#bootstrap-table').bdt({
            showSearchForm: 0,
            showEntriesPerPageField: 0
        });
      });